
@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --primary: #6157fa;
  --primary-light: #8084ff;
  --card-bg: #1e1e1e;
  --text-secondary: #a0a0a0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
